.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards>ul>li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.cards>ul>li>div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.cards .cards-card-body {
  height: 60%;
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards .cards-card-body > h2, .cards .cards-card-body > p {
  margin: 5px 0;
  padding: 0 10px;
}
.cards .cards-card-image {
  height: 40%;
  flex: 0 0 40%;
}

.cards .cards-card-image picture {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .cards-card-image picture>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .cards-card-body>*:first-child {
  margin-top: 0;
}

@media (width >=768px) {
  .cards>ul>li {
    flex: 1 1 45%;
    /* 2 elements per row */
    max-width: 45%;
  }
}

@media (width >=1024px) {
  .cards>ul>li {
    flex: 1 1 30%;
    /* 3 elements per row */
    max-width: 30%;
  }
}